{% extends 'base.html.twig' %}
{% block content %}
    <h1>List of search</h1>


    <table border='4' style='width:100%'>
        <thead>
        <tr  >
            <td  style = 'text-align:center'colspan='6'>All products</td>
        </tr>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Model</th>
            <th>Volume</th>
            <th>MaxSpeed</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.data|date("m/d/Y") }}</td>
                <td>{{ product.description }}</td>
                <td class="action">
                    <a href="{{ path('product_update', {'id': product.id}) }}">Update</a>
                    <a href="{{ path('product_show', {'id': product.id}) }}">Show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <form action="{{ path('search_page') }}">
        <input type="submit" class="btn" value="Back to search" />
    </form>
{% endblock %}