<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/content-style.css') }}" rel="stylesheet"/>
    {% block stylesheets %}

    {% endblock %}
</head>
<body>
{% block body %}

    <header>
        <h2 class="logo">
            <a href="{{ path('product_list')}}">
                <span>Logo</span>
            </a>
        </h2>
        <div>
            <h2>Header section</h2>
        </div>
    </header>
    <section class="container">
        <div class="menu">
            <ul>
                <a href="{{ path('app_homepage') }}">
                    <li>Home</li>
                </a>
                <a href="{{ path('search_page') }}">
                    <li>Search</li>
                </a>
                <a href="#">
                    <li>Menu 3</li>
                </a>
            </ul>
        </div>
        <div class="content">
            {% block content %}

            {% endblock %}
        </div>
    </section>
    <footer>
        <p>Footer section</p>
    </footer>
{% endblock %}
{% block javascripts %}
{% endblock %}
</body>
</html>
